<div class="form_wrap">

<%= render partial: 'layouts/flash' %>

<%= form_for @tweet do |f| %>

<div class="input-field">
  <%= f.label :ã¤ã¶ã‚„ã %>
  <%= f.text_area :tweet %>
</div>

<div class="actions center">
  <%= f.submit "ã¤ã¶ã‚„ã"%>
</div>

<% end %>

<div class="left">
<% @tweets.order('created_at DESC').each do |tweet| %>
<p><span style="font-size: 120%">ðŸ‘£</span><%= tweet.tweet %><br><%= @users.find_by(id: tweet.user_id).username %> ï¼ˆ<%= tweet.created_at.strftime("%m-%d %H:%M") %>ï¼‰</p>
<% end %>
</div>

</div>
