<div class="form_wrap">

<%= render partial: 'layouts/flash' %>

<%= form_for @step do |f| %>

<div>
  <%= f.label :日付 %>
  <%= f.date_field :date %>
</div>

<div class="input-field">
  <%= f.label :歩数 %>
  <%= f.text_field :step %>
</div>

<div class="center">
  <%= f.submit "登録する" ,class: "btn" %>
</div>

<% end %>

<p class="center"><b>歩数履歴</b></p>

<% @steps.each do |step| %>
<p><%= link_to '修正', edit_step_path(step.id), method: :get %>　　<%= link_to '削除', step_path(step.id), method: :delete, data: {confirm: "本当に削除しますか？"}%>　　<%= step.date.to_date %> <%= step.step.to_s(:delimited) %>歩</p>
<% end %>

</div>
